.outer-square {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
  }
  
  .inner-square {
    background-color: green;
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
  }
  
  .circle{
    background-color: blue;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
  }
  